{% extends "./base.html" %}

{% block pagetitle %}{{ defaults.APP_TITLE }}: {{ subtitle }}{% endblock %}
{% block title %}{{ subtitle }}{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ subtitle }}</h3>
  </div>
  <div class="panel-body">
    <div><strong>Estancia:</strong> [{{ bookingdata.arrival }}, {{ bookingdata.departure }}) &mdash; {{bookingdata.nights}} noche(s)</div>
    <div><strong>Número de huéspedes:</strong> {{ bookingdata.guests }}</div>
    <div><strong>Precio de la reserva:</strong> {{ bookingdata.price }} €</div>
    <div><strong>Tipo de habitación:</strong> {{ room }}</div>
    <form class="contact-info form-horizontal" action="/contact/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_name" class="col-md-2 control-label">{{ form.name.label }}</label>
        <div class="col-md-10">
          {{ form.name }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_email" class="col-md-2 control-label">{{ form.email.label }}</label>
        <div class="col-md-10">
          {{ form.email }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_phone_number" class="col-md-2 control-label">{{ form.phone_number.label }}</label>
        <div class="col-md-10">
          {{ form.phone_number }}
          {{ form.guests.errors}}
        </div>
      </div>
      {{ form.arrival }}
      {{ form.departure }}
      {{ form.guests }}
      {{ form.roomtype }}
      {{ form.roomnumber }}
      {{ form.price }}
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-primary">Guardar la reserva</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
