{% extends "./base.html" %}

{% block pagetitle %}{{ defaults.APP_TITLE }}: {{ subtitle }}{% endblock %}
{% block title %}{{ subtitle }}{% endblock %}

{% block customstyles %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ subtitle }}</h3>
  </div>
  <div class="panel-body">
    {% if search_criteria %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div><h3>Criterios de búsqueda</h3></div>
        <div><strong>Estancia:</strong> [{{search.sarrival}}, {{search.sdeparture}}) &mdash; {{search.nights}} noche(s)</div>
        <div><strong>Número de huéspedes:</strong> {{search.guests}}</div>
      </div>
      <table class="table table-bordered">
        <caption>Disponibilidad de habitaciones</caption>
        <thead>
          <tr>
            <th>Tipo de habitación</th>
            <th># hab. disponibles</th>
            <th># total hab.</th>
            <th>Precio de la estancia</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if rooms %}
          <form class="room-booking" action="/contact/" method="post">
            {% csrf_token %}
            {% for room in rooms %}
            <tr>
              <td>{{room.room_type}}</td>
              <td>{{room.available}}</td>
              <td>{{room.room_type.room_number}}</td>
              <td>{{room.price}} €</td>
              <td>
                {% if room.available == 0 %}
                <button class="btn btn-primary" disabled="disabled">Reservar</button>
                {% else %}
                <button class="btn btn-primary bookroom"
                  data-roomtype="{{ room.room_type.id }}"
                  data-roomnumber="{{ room.room_number }}"
                  data-price="{{ room.price }}">Reservar</button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
              <input type="hidden" name="arrival" value="{{ search.sarrival }}">
              <input type="hidden" name="departure" value="{{ search.sdeparture }}">
              <input type="hidden" name="guests" value="{{ search.guests }}">
              <input type="hidden" name="roomtype" value="">
              <input type="hidden" name="roomnumber" value="">
              <input type="hidden" name="price" value="">
              <input class="hidden" type="submit" value="Submit">
          </form>
          {% else %}
          <tr>
            <td class="text-center" colspan="4">No hay habitaciones disponibles</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      <div class="panel-footer">
        <a class="btn btn-primary" href="{% url 'newsearch' %}">Nueva búsqueda</a>
      </div>
    </div>
    {% else %}
    {{ form.non_field_errors }}
    <form class="form-horizontal" action="/newbooking/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_fecha_entrada" class="col-sm-2 control-label">{{ form.fecha_entrada.label }}</label>
        <div class="col-sm-10">
          {{ form.fecha_entrada }}
          {{ form.fecha_entrada.errors}}
        </div>
      </div>
      <div class="form-group">
        <label for="id_fecha_salida" class="col-sm-2 control-label">{{ form.fecha_salida.label }}</label>
        <div class="col-sm-10">
          {{ form.fecha_salida }}
          {{ form.fecha_salida.errors}}
        </div>
      </div>
      <div class="form-group">
        <label for="id_guests" class="col-sm-2 control-label">{{ form.guests.label }}</label>
        <div class="col-sm-10">
          {{ form.guests }}
          {{ form.guests.errors}}
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Buscar">
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block customjavascript %}
{% load static %}
<script type="text/javascript" src="{% static 'bookingsearch/js/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'bookingsearch/js/booking.js' %}"></script>
{% endblock %}
